* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

body {
    min-height: 100vh;

}

.container-central {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(assets/imagen-fundo-verde.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 5rem;
    align-items: center;
    padding-bottom: 20px;

}

.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    height: 30vh;

    justify-content: center;
    text-align: center;
}

h1 {
    background: linear-gradient(90deg, #8ed678da, #ffffffee);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.paragrafos {
    color: white;
    font-size: 15px;
}

.titulo-logo {
    color: white;
    font-size: 17px;
}

.botão-cadastrar {
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.informações {
    background-color: rgb(255, 255, 255);
    height: 37vh;
    width: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}


.textos-inputs {
    font-size: 15px;
    text-align: center;
    color: rgb(99, 99, 99);
    margin: 2px;
}

.inputs-pesquisa {
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
    width: 250px;
}

.texto-h2 {
    color: rgb(100, 100, 100);
}

.desenvolvimento {
    height: 100vh;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    align-items: center;
}

.marcas {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.track {
    display: flex;
    gap: 40px;
    width: max-content;
    animation: move 15s linear infinite;
}

.track span {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.conteudo-abaixo{
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.paragrafo-duas-letras{
    color: rgb(168, 168, 168);
}

.caixas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.pai-das-caixa{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: 20px;
}


.caixa-casa{
    border: 1px solid rgb(164, 164, 164);
    width: 300px;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 15px;
    gap: 0.7rem;
    padding: 6px;
}

.imagen-da-caixa{
    width: 100%;
    display: flex;

}

.titulo-caixa{
    width: 100%;
    text-align: left;
    font-size: 17px;
    color: black;
}

.subtitulo-caixa{
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: rgb(42, 42, 42);
}

.paragrafo-caixa{
    width: 100%;
    text-align: left;
    font-size: 13px;
    color: rgb(88, 88, 88);
}

.posicionar-tudo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.posicionar-titulo-p{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.loja{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.titulo-seção{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: black;
}

.subtitulo-seção{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    color: rgb(65, 65, 65);
}

.botão-a-ver{
    padding: 8px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 20px;
    font-size: 12px;
    background-color: white;
}

.botão-a-ver:hover{
    background-color: rgb(188, 188, 188);
}